!!!
%html
  %head
    %title Merchcraft
    = stylesheet_link_tag :all
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'
    = yield :head
    = csrf_meta_tag
  %body
    #user_nav
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you?
        \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        or #{link_to "sign in", new_user_session_path}
        or #{link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)}
    %p.notice= notice
    %p.alert= alert
    = yield
